.movie{

    img{

    
    width: 375px;
    height: 287px;
    left: 0px;
    top: 0px;

    }

    a{
        position: absolute;
        width: 44px;
        height: 44px;
        left: 24px;
        top: 44px;
        color:white;
        font-size: xx-large;
        margin-top: 44px;
    }

    h1{
        position: absolute;
        width: 265px;
        height: 29px;
        left: 24px;
        top: 311px;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
    p{
        //position: absolute;
        width: 200px;
        height: 24px;
        left: 19px;
        top: 348px;
        color: #BCBCBC;
        padding-top: 2.5rem;
        margin-top: 1.5rem;
    }

    .release{
        position: absolute;
        width: 104px;
        height: 17px;
        left: 24px;
        top: 393px;
        

        h4{
            
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }

        p{
            position: absolute;
            left: 0.5rem;
            top: 10px;
            color: #BCBCBC;
        }

    }

    .genre{
        position: absolute;
        width: 45px;
        height: 17px;
        left: 175px;
        top: 393px;
        //margin-top: 1.2rem;

        h4{
            
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }

        p{
           
            position: absolute;
            top: 10px;
            color: #BCBCBC;
            
        }

    }

    .synopsis{
        position: absolute;
        width: 360px;
        height: 150px;
        left: 24px;
        top: 500px;
        overflow: hidden;

        h4{
            
            letter-spacing: 0.02em;
            color: #FFFFFF;

        }

        p{
            position: absolute;
            top:10px;
            width: 327px;
            height: 70px;
            margin-right: 1.2rem;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.02em;
            color: #BCBCBC; 
        }

        span{
            color: #FFFFFF;
            font-size: medium;
        }

        
    }

    

}

    