


.container{
    

    img{
        margin-top: 1.5rem;
        position: absolute;
        width: 327px;
        height: 216px;
        left: 24px;
        top: 94px;
        image-rendering: pixelated;
        
    }
}