
.moviesContainer{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
        //flex: 1 1 50%;
        
        
    .movies{

        width: 40vw;
        padding: 5px 0.5rem 5px 0.5rem;
    
        img{
        width: 154px;
        height: 215px;
        margin: 0 1rem 5px 1rem;
        }
    }
}

