.movies{
    
    .soul{
        position: absolute;
        width: 154px;
        height: 215px;
        left: 24px;
        top: 202px;
        margin-left: 0.8rem;
        margin-top: 1.2rem;;
    }

    .knives{
        position: absolute;
        width: 154px;
        height: 191px;
        left: 197px;
        top: 202px;
    }

    .onward{
        position: absolute;
        width: 154px;
        height: 191px;
        left: 24px;
        top: 437px;
    }

    .mulan{
        position: absolute;
        width: 154px;
        height: 212px;
        left: 197px;
        top: 413px;
    }

    .girl{
        position: absolute;
        width: 154px;
        height: 212px;
        left: 24px;
        top: 648px;
        
    }

    .cards{
        position: absolute;
        width: 155px;
        height: 210px;
        left: 196px;
        top: 648px;
    }
}