
.nav{
    display:flex;
    justify-content: space-around;
    position: absolute;
    width: 375px;
    height: 84px;
    left: 0px;
    top: 728px;
    margin-top: 2rem;
    padding-top: 0.7rem;
    background-color: #15141F;

    .is-active{
        color: #FF8F71;
        font-size: 2rem;
    }

    a{
        color:gray;
        font-size:2rem;
    }
    
}