.container{

    position: absolute;
    top: 600px;
    left: 24px;
    
    
    h4{
        margin-top: 2.5rem;
        color: #FFFFFF;
    }


    .images{

        margin-bottom: 1rem;
        
        
        img{
            position: absolute;
            top: 2rem;
            left: 24px;
            width: 142px;
            height:146px;
        }

        p{
            position: absolute;
            top:10rem;
            width: 142px;
            color: #BCBCBC; 
        }
        
    }
} 