.related{

    position: absolute;
    width: 360px;
    height: 160px;
    top: 620px;
    left: 24px;
    margin-top: 1rem;
    
    h4{
        margin-top: 2.5rem;
        color: #FFFFFF;
    }


    .images{

        margin-top: 1.5rem;
        
    
        
        img{
            
            //top: 2rem;
            //left: 24px;
            width: 142px;
            height:146px;
            margin-top: 1.5rem;
            padding-top: 1.2rem;
            
        }

        p{
            //position: absolute;
            //margin-top: 1rem;
            top:12rem;
            width: 142px;
            color: #BCBCBC; 
        }
        
    }
} 