.related{

    position: absolute;
    width: 360px;
    height: 320px;
    top: 620px;
    //left: 24px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    //overflow: hidden;
    
    h4{
        position: absolute;
        color: #FFFFFF;
        margin-left: 24px;
        padding-bottom: 1rem;
    }


    .images{

        margin-top: 1.8rem;
        
        padding: 1rem;

        img{
            
            //top: 2rem;
            //left: 24px;
            width: 142px;
            height:146px;
            margin-top: 1.5rem;
            
            padding-top: 1.2rem;
            
        }

        p{
            //position: absolute;
            //margin-top: 1rem;
            top:12rem;
            width: 142px;
            color: #BCBCBC; 
        }
        
    }
} 