h1{
    color: #FF8F71;
    font-size: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 29px;
    letter-spacing: 0.02em;
}

span{
    color: white;
}

.Title{
position: absolute;
width: 214px;
height: 29px;
left: 25px;
top: 32px;
}